<h2>Course Catalog</h2>

<% if !student? %>
    <% Course.all.each do |course| %>

        <a href="courses/<%= course.slug %>"><%= course.name %></a><br>

    <% end %>
<% end %>

<% if student? %>
    <form method="POST" action="/courses/enroll">
        <% Course.all.each do |course| %>
            <input type="checkbox" name="course_ids[]" id="<%= course.id %>" value="<%= course.id %>" <%='checked' if current_user.courses.include?(course) %>><a href="courses/<%= course.slug %>"><%= course.name %></a><br>
        <% end %>

        <input type="submit" value="Enroll">
    </form>
<% end %>