<h2><%= @course.name %></h2>
<h3>Description: </h3>
<p><%= @course.description %></p>

<h3>Teachers: </h3>
<ol>
    <% @course.teachers.each do |teacher| %>
       <li><%= teacher.username %></li>
    <% end %>
</ol>

<h3>Enrollement: </h3>
<p> <%= @course.students.count %> / <%= @course.capacity %> students enrolled </p>

<h3>Location:</h3> 
<p><%= @course.location %></p>

<h3>Students: </h3>
<ol>
    <% @course.students.each do |student| %>
       <li><%= student.username %></li>
    <% end %>
</ol>

<% if teacher? && current_user.courses.include?(@course)%>
    <form method="post" action="/courses/<%=@course.slug%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Course">
    </form>
    <a href="/courses/<%= @course.slug %>/edit">Edit Course</a>
<% end %>