<h2><%= @course.name %></h2>

<% unless locals.empty? %>
    <%= message %>
    <br>
<% end %>

<h3>Description: </h3>
<p><%= @course.description %></p>

<h3>Enrollment: </h3>
<p> <%= @course.students.count %> / <%= @course.capacity %> students enrolled </p>

<h3>Location:</h3> 
<p><%= @course.location %></p>

<h3>Schedule:</h3> 
<p><%= @course.schedule_days %></p>

<h3>Time:</h3> 
<p><%= @course.time %> (<%= @course.duration %> minutes)</p>

<h3>Teachers: </h3>
<ol>
    <% @course.teachers.each do |teacher| %>
       <li><%= teacher.name %></li>
    <% end %>
</ol>

<h3>Students: </h3>
<ol>
    <% @course.students.each do |student| %>
       <li><%= student.name %></li>
    <% end %>
</ol>

<br>
<% if teacher? && current_user.courses.include?(@course)%>
    <table>
        <tr>
            <td>
                <form method="post" action="/courses/<%=@course.slug%>/delete">
                    <input id="hidden" type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Delete Course">
                </form>
            </td>
            <td>
                <form method="get" action="/courses/<%= @course.slug %>/edit">
                    <input type="submit" value="Edit Course">
                </form>
            </td>
            <td>
                <form method="get" action="/courses/<%= @course.slug %>/teachers">
                    <input type="submit" value="Update Teachers">
                </form>
            </td>
            <td>
                <form method="get" action="/courses/<%= @course.slug %>/enrollment">
                    <input type="submit" value="Update Enrollments">
                </form>
            </td>
        </tr>
    </table>
<% end %>