<h3>Update Teachers: </h3>

    <form method="POST" action="/courses/<%= @course.slug %>/teachers">
        <% Teacher.sort_by_name.each do |teacher| %>
            <input type="checkbox" name="teacher_ids[]" id="<%= teacher.id %>" value="<%= teacher.id %>" <%='checked' if @course.teachers.include?(teacher) %>><%= teacher.name %><br>
        <% end %>

        <input type="submit" value="Update">
    </form>
